body{
display: flex;
flex-direction: column;
padding: 10px;
background: black;
box-sizing: border-box;
font-family: sans-serif;
color:#FF4500;
}
.slider {
    border:0px solid black;
}
.myslider{
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  border:0px solid black;
  margin: 5px;
  padding:10px;
}
.img{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  border:0px solid black;
  cursor:pointer;

}
.arrow{
  width: 5%;
  border:1px solid black;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  cursor:pointer;
  border-radius: 15px;

}
.picture{
  width: 100%;
  height: 100%;
  border:1px solid black;
}
.popup{
  position:fixed;
  width: 100vw;
  height:100vh;
  display: flex;
  padding-top: 0px;
  margin-top: 0px

}
.popup_bg{
  background: rgba(0,0,0,0.4);
    position: fixed;
    width: 100vw;
    height: 100vh;

}
.popup_img{
  position: relative;
  margin:auto;
  margin-top: 0px;
  max-width: 80vw;
  max-height: 80vh;
}
.divImg{
  width: 25%;
  background-image: url(blank.png);
  background-size: 100%;
  margin-right: 10px;
}
